
.blob{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.blob img{
    width: 50vmax;
    z-index: 0;
    animation: move 18s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  }

.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.profileContainer .list{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-height: 383px;
    overflow-y: auto;
    overflow-x: hidden;
}

.profileContainer .list ul{
    width: 400px;
    border-radius: 10px;
}

.profileContainer .list ul li ul li{
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #001529 !important;
}

.profileContainer .list .ant-menu-item-group-title{
    font-size: 20px !important;
    line-height: 50px !important;
    color: #000 !important;
    font-weight: 600 !important;
    border-bottom: 2px solid #001529 !important;
}

.profileContainer .list ul li > span{
display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileContainer .list ul ul li:last-child{
    text-align: center;
    padding-inline: 16px 16px !important;
    justify-content: center !important;
    display: flex;
}

.profileContainer .list ul ul li:last-child svg{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileContainer .list ul ul li:last-child svg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30px !important;
    width: auto;
    bottom: 20px !important;
  }

.profileContainer .form input {
    font-size: 16px;
}

.profileContainer .list .ant-menu-item-group-title {
    background: #5C48F0;
    color: #fff !important;
    border-radius: 8px 8px 0 0;
    border-inline-end: none !important;
}

.profileContainer .list ul{
  border-inline-end: none !important;
}

.profileContainer .list a{
    color: #001529 !important;
}

.profileContainer .list a:hover{
    color: #fff !important;
}

.profileContainer .list .ant-menu-item-active:hover{
    background: #5C48F0 !important;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .profileContainer .list ul{
        width: 350px;
        border-radius: 10px;
    }
}